*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities*/

.text-gray{
    color:#828282;
}

.text-small{
    font-size: 12px;
}


header{
    height: 100px;
    width: 100%;
    background-color: #4D9EFC;
    background-image: url(../img/pattern.png);
    background-size: 25%;
    line-height: 100px;

}

#logo{
    vertical-align: middle;
    height: 50px;
    padding-left: 220px;
}

.conteiner{
    width: 70%;
    margin: 0 auto;
}

h1{
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 40px;
}

a{
    color: #27ABE6;
    text-decoration: none;
}

#p-author{
    font-size: 20px;
    font-weight: 550;
}

#p-photo{
    font-size: 12px;
}

#p-article{
    margin: 20px 0;
}

figure{
    padding-top:20px;
}

ul{
    padding-left: 16px;
    margin-bottom: 15px;
}